* {
    outline: none;
    font-family: 'MuseoModerno', cursive;
}

body {
    margin: 0;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

#game {
    display: none;
    margin: 0 auto;
}

canvas {
    cursor: none;
}

.modal {
    display: none;
    position: fixed;
    top: 20%;
    left: 30%;
    width: 40%;
    box-sizing: border-box;
    z-index: 200;
    padding: 5rem 0;
    border: 1px solid #6e6e6e;
    border-radius: 30px;
    background: linear-gradient(to top, #ffffff, #6e6e6e);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0.8;
    text-transform: uppercase;
}

.modal__title {
    margin: 0 0 1rem 0;
    text-align: center;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    padding: 0.5rem 1rem;
    border: 1px solid #1B2735;
    background: linear-gradient(to top, #1B2735, #4f647a);
    color: white;
    text-decoration: none;
    font: inherit;
    cursor: pointer;
    animation: pulsate 1.2s linear infinite;
}

.modal__action:hover,
.modal__action:active {
    background: linear-gradient(to top, #4f647a, #1B2735);
}

.modal__action--negative {
    background: #d83f2d;
    border-color: #d83f2d;
}

.modal__action--negative:hover,
.modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
}

.open {
    display: block !important;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
}

.buttons {
    margin: 1rem auto;
}

#player-name {
    font-size: 1.2rem;
}

.main-page-button {
    position: absolute;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    bottom: 2px;
    border-radius: 50%;
    border: 1px solid #1B2735;
    background: linear-gradient(to top, #1B2735, #617b96);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    animation: pulsate 1.2s linear infinite;
}

.main-page-button:hover {
    background: linear-gradient(to top, #617b96, #1B2735);
}

#main-page-button--play {
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    background: linear-gradient(to top, #16812c, #82de76);
    font-size: 2rem;
}

#main-page-button--play:hover {
    background: linear-gradient(to top, #82de76, #16812c);
}

#spa {
    display: block;
    position: relative;
    will-change: transform;
    transform: translateZ(0);
}

#spa-name {
    position: absolute;
    top: 8%;
    padding-left: 70px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-family: 'MuseoModerno', sans-serif;
    font-size: 6rem;
    font-weight: 900;
    text-align: center;
}

#spa-name--image {
    position: absolute;
    top: 50px;
    right: -150px;
    width: 20%;
    animation: snake 10s ease infinite;
}

@keyframes snake {
    0% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(0px, -2px) rotate(-3deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(3deg);
    }
    30% {
        transform: translate(0px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(3deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-3deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(-1px, 1px) rotate(-3deg);
    }
    80% {
        transform: translate(1px, -1px) rotate(3deg);
    }
    90% {
        transform: translate(2px, 2px) rotate(1deg);
    }
    100% {
        transform: translate(2px, 1px) rotate(0deg);
    }
}

.spa-button {
    position: absolute;
    left: 40%;
    width: 20%;
    padding: 1rem;
    border: 1px transparent;
    border-radius: 30px;
    background: linear-gradient(to top, black, #222);
    color: white;
    font-family: "MuseoModerno", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    animation: pulsate 1.2s linear infinite;
    opacity: 0.9;
}

.spa-button:hover {
    background: linear-gradient(to top, #222, black);
}

@keyframes pulsate {
    50% {
        color: #fff;
        text-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #ffd, 0 0 8px #fff;
    }
}

.spa-button--first {
    top: 50%;
}

.spa-button--second {
    top: 65%;
}

.spa-button--third {
    top: 80%;
}

#records {
    display: none;
}

#records-content {
    list-style-type: none;
    width: 50%;
    margin: 2rem auto;
    padding: 0;
    color: white;
    font-size: 2rem;
}

#records-content li {
    display: block;
    margin-top: 1rem;
    border-bottom: 1px solid white;
    text-align: right;
}

.records-name {
    float: left;
    font-weight: 700;
}

.records-score {
    color: lightskyblue;
}

#rules {
    display: none;
    position: relative;
    height: 90vh;
    margin: 2rem auto;
    padding: 0 4rem;
}

#rules p {
    font-size: 2rem;
    background: linear-gradient(to right, purple, pink, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#audio {
    display: none;
}

@media (max-width: 55.3rem) {
    #spa-name {
        font-size: 4rem;
    }

    .spa-button {
        font-size: 1rem;
    }

    #player-name {
        font-size: 0.8rem;
    }
}

@media (max-width: 40rem) {
    #spa-name {
        font-size: 3rem;
    }

    .spa-button {
        padding: 0.2rem 0;
        font-size: 0.8rem;
    }

    #rules p {
        font-size: 1.2rem;
    }

    #records-content {
        font-size: 1.2rem;
    }

    .modal__title {
        font-size: 1.2rem;
    }
}

@media (max-width: 30rem) {
    #spa-name {
        padding-left: 0;
        font-size: 2rem;
    }

    .spa-button {
        padding: 0.2rem 0;
        font-size: 0.4rem;
    }

    #player-name {
        font-size: 0.4rem;
    }

    #rules p {
        font-size: 0.8rem;
    }

    .modal__action {
        font-size: 0.6rem;
    }
}